@import "./palette";

html.dark {
  // brand colors
  --c-brand: #{$d--brand};
  --c-brand-light: #{$d--brand-light};

  // background colors
  --c-bg: #{$darkColor10};
  --c-bg-lightless: #{$darkLess};
  --c-bg-light: #{$darkLight};
  --c-bg-lighter: #{$darkLighter};
  --c-bg-lightest: #{$darkLightest};
  --c-bg-card: #{$codeBgColor};

  // text colors
  --c-text: #{$d--textColor};
  --c-text-light: #{$d--textColorLight};
  --c-text-lighter: #{$d--textColorLighter};
  --c-text-lightest: #{$d--textColorLightest};
  --c-text-hightlight: #{$d--textColorHightLight};
  --c-text-quote: #b5b5b5;

  // border colors
  --c-border: #{$d--borderColor};
  --c-border-dark: #{$d--borderColorDark};
  --c-card-shadow: #{$d--cardShadow};
  --c-box-shadow-color: #{$d--box-shadow-color};
  --c-box-shadow-color-diff: #{$d--box-shadow-color-diff};

  // container
  --c-tip-bg: linear-gradient(145deg, #{$d--box-shadow-color}, #{$d--box-shadow-color-diff});

  // code blocks vars
  --code-hl-bg-color: #{$d--codeHighlightBgColor};
  --inline-code-color: #5bae6c;

  //mark
  --mark-color: #{$d--markColor};
  --mark-bg: #{$d--linearBG};
  --mark-shadow: #{$d--markBoxShadow};
}
