code {
  color: var(--inline-code-color);
  padding: 0.25rem 0.5rem;
  font-size: 0.85em;
  border-radius: 3px;
  overflow-wrap: break-word;
  transition: background-color var(--t-color), color var(--t-color);
  box-shadow: inset 1px 1px 3px var(--c-box-shadow-color), inset -1px -1px 3px var(--c-box-shadow-color-diff);
}

.code-group__nav-tab{
  margin-right: 0.65rem;
  transition: box-shadow .2s ease-in-out;
  box-shadow: -1px -1px 1px #505050, 1px 1px 6px #000;
  &:hover, &:active {
    box-shadow: inset 1px 1px 3px #000000, inset -3px -3px 6px #505050;
    color: var(--c-brand-light);
  }
}
.code-group__nav-tab-active {
  box-shadow: inset 1px 1px 3px #000000, inset -3px -3px 6px #505050;
}


div[class*="language-"] {
  position: relative;
  background-color: var(--code-bg-color);
  border-radius: 5px;
  box-shadow: var(--code-box-shadow);
  &::before {
    top: 0.6em;
    right: 3em;
  }
  code {
    box-shadow: none;
  }
}

.code-group {
  box-shadow: var(--code-box-shadow);
  border-radius: 6px;
  div[class*="language-"] {
    box-shadow: none;
  }
  div[class*="language-"]::before {
    top: -2.7em;
  }
}
