@import "../vars/palette";
.term-bold {
  font-weight: 700 !important;
}
.term-green {
  color: var(--code-green) !important;
}

.term-blue {
  color: var(--code-blue) !important;

  &.bold {
    color: var(--code-bold-blue) !important;
  }
}

.term-red {
  color: var(--code-red) !important;
}

.term-magenta {
  color: var(--code-magenta) !important;
}

.term-cyan {
  color: var(--code-cyan) !important;
}

.term-yellow {
  color: var(--code-yellow) !important;
}

.term-orange {
  color: var(--code-orange) !important;
}

.term-grey {
  color: var(--code-grey);
}

.terminal {
  background: var(--code-bg-color);
  border-radius: 0.75rem;
  box-shadow: var(--code-box-shadow);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", Menlo, monospaceCourier New, courier, monospace, "Source Sans Pro", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.025em;
  line-height: 1.5rem;
  overflow: auto;
  padding: 0 0.75rem 0.75rem;
  position: relative;
  .switch-btns {
    ---btn-size: 0.75rem;
    background: var(--code-bg-color);
    display: -ms-flexbox;
    display: flex;
    height: var(---btn-size);
    overflow: hidden;
    padding: 0.6rem 0;
    position: sticky;
    top: 0;
    & > :not([hidden]) ~ :not([hidden]) {
      margin-left: 0.5rem;
    }
    .switch-btn {
      background-color: var(--code-grey);
      border-radius: 9999px;
      display: inline-block;
      height: var(---btn-size);
      width: var(---btn-size);
    }
    .switch-link {
      font-size: 0.85rem;
      line-height: 0.85rem;
      position: absolute;
      right: 0.2rem;
      top: 0.6rem;
    }
  }
  p {
    color: var(--c-brand-text);
  }
}

.home-terminal {
  height: 21rem;
}

.doc-terminal {
  height: 22rem;
}

@media (min-width: $Screen4k) {
  .home-terminal {
    height: 26rem;
  }
}

@media (max-width: $MACBook) {
  .home-terminal {
    height: 15rem;
  }
}

@media (max-width: $MQLarge) {
  .home-terminal {
    height: 24rem;
  }
}

@media (max-width: $MQMobile) {
  .terminal {
    border-radius: 0.25rem;
    font-size: 0.8rem;
    .switch-btns {
      ---btn-size: 0.55rem;
    }
  }
  .home-terminal {
    height: 17rem;
  }
  .doc-terminal {
    height: 20rem;
  }
}

@media (max-width: $MQMobileNarrow) {
  .home-terminal {
    height: 12rem;
  }

  .home-terminal {
    margin-left: -1.6rem;
    margin-right: -1.6rem;
  }
}

@media (max-width: $MQMobileNarrowSmall) {
  .home-terminal {
    height: 13rem;
  }
}

.fade-enter-active,
.fade-leave-active {
  transform: translateZ(0);
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}