@import "../vars/palette";
.term-bold {
  font-weight: 700;
}
.term-green {
  color: var(--code-green);
}

.term-blue {
  color: var(--code-blue);

  &.bold {
    color: var(--code-bold-blue);
  }
}

.term-red {
  color: var(--code-red);
}

.term-magenta {
  color: var(--code-magenta);
}

.term-cyan {
  color: var(--code-cyan);
}

.term-yellow {
  color: var(--code-yellow);
}

.term-grey {
  color: var(--code-grey);
}

.terminal {
  background: var(--code-bg-color);
  border-radius: 0.75rem;
  box-shadow: var(--code-box-shadow);
  font-family: Menlo, Courier New, courier, monospace;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.025em;
  line-height: 1.5rem;
  overflow: auto;
  padding: 0.75rem 0.75rem 0;
  position: relative;
  .switch-btns {
    ---btn-size: 0.75rem;
    background: var(--code-bg-color);
    display: -ms-flexbox;
    display: flex;
    height: var(---btn-size);
    overflow: hidden;
    padding: 0.6rem 0;
    position: sticky;
    top: 0;
    & > :not([hidden]) ~ :not([hidden]) {
      margin-left: 0.5rem;
    }
    .switch-btn {
      background-color: var(--code-grey);
      border-radius: 9999px;
      display: inline-block;
      height: var(---btn-size);
      width: var(---btn-size);
    }
    .switch-link {
      font-size: 0.85rem;
      line-height: 0.85rem;
      position: absolute;
      right: 0.2rem;
      top: 0.6rem;
    }
  }
  p {
    color: var(--c-brand-text);
  }
}

.terminal-btn-group-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.terminal-btn-group {
  display: inline-block;
  margin: 0.6rem 0.6rem 0;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  & > :not([hidden]) ~ :not([hidden]) {
    margin-left: 0.5rem;
  }
  .btn {
    background-color: var(--c-bg);
    border: 2px solid var(--c-brand);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--c-brand);
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    overflow: hidden;
    padding: 0.5rem 0.8rem;
    text-overflow: ellipsis;
    transition: background-color 0.1s ease;
    white-space: nowrap;
    width: 6.5rem;
    &.active {
      background-color: var(--c-brand-light);
      color: var(--c-bg);
    }
  }
}

.home-terminal {
  height: 24rem;
  max-height: 60%;
}

.doc-terminal {
  height: 24rem;
  max-height: 60%;
}

@media (max-width: $MACBook) {
  .home-terminal {
    height: 15rem;
  }
}

@media (max-width: $MQLarge) {
  .home-terminal {
    height: 24rem;
  }
}

@media (max-width: $MQMobile) {
  .terminal {
    border-radius: 0.25rem;
    font-size: 0.6rem;
    .switch-btns {
      ---btn-size: 0.55rem;
    }
  }
  .terminal-btn-group-container {
    .symbol {
      font-size: 0.45rem;
    }
  }
}

@media (max-width: $MQMobileNarrow) {
  .home-terminal {
    height: 16rem;
  }
  .terminal-btn-group .btn {
    font-size: 0.6rem;
    padding: 0.5rem 0.2rem;
    width: 5rem;
  }
  .home-terminal,
  .terminal-btn-group-container {
    margin-left: -1.6rem;
    margin-right: -1.6rem;
  }
}

@media (max-width: $MQMobileNarrowSmall) {
  .home-terminal {
    height: 18rem;
  }
}
