@tailwind components;
@tailwind utilities;

// Section: Base
:root {
  scroll-behavior: smooth;
}
body {
  overflow: overlay;
}
strong {
  font-weight: 800;
}

:root {
  // brand colors
  --c-brand: #3eaf7c;
  --c-brand-light: #4abf8a;
  --c-brand-text: #fff;

  // background colors
  --c-bg: #fff;
  --c-bg-lightless: #f3fff8;
  --c-bg-light: #f1f1f1;
  --c-bg-lighter: #f6f6f6;
  --c-bg-navbar: var(--c-bg);
  --c-bg-sidebar: var(--c-bg);
  --c-bg-arrow: #cccccc;
  --c-bg-card: #fff;

  // text colors
  --c-text: #2c3e50;
  --c-text-accent: var(--c-brand);
  --c-text-light: #3a5169;
  --c-text-lighter: #4e6e8e;
  --c-text-lightest: #6a8bad;
  --c-text-quote: #999999;

  // border colors
  --c-border: #eaecef;
  --c-border-dark: #dfe2e5;
  --c-card-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  // custom container colors
  --c-info: #007bff;
  --c-tip: #42b983;
  --c-tip-title: #359368;
  --c-warning: #f4cd00;
  --c-warning-title: #c1a200;
  --c-danger: #f55;
  --c-danger-title: #ff2222;

  // badge component colors
  --c-badge-tip: var(--c-tip);
  --c-badge-warning: var(--c-warning);
  --c-badge-danger: var(--c-danger);

  // code blocks vars
  --code-bg-color: #282c34;
  --code-hl-bg-color: rgba(15, 15, 15, 0.66);
  --code-ln-color: #a8a6a6;
  --code-ln-wrapper-width: 3.5rem;
  --code-box-shadow: 0 4px 9px rgb(0 0 0 / 30%);

  // font vars
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-family-code: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  // layout vars
  --navbar-height: 3.6rem;
  --navbar-padding-v: 0.7rem;
  --navbar-padding-h: 1.5rem;
  --sidebar-width: 20rem;
  --sidebar-width-mobile: calc(var(--sidebar-width) * 0.82);
  --content-width: 740px;
  --homepage-width: 100%;
}

html.dark {
  // brand colors
  --c-brand: #3aa675;
  --c-brand-light: #349469;

  // background colors
  --c-bg: #1e232a;
  --c-bg-lightless: #2a2f35;
  --c-bg-light: #343c47;
  --c-bg-lighter: #373a43;
  --c-bg-lightest: #2a2f35;
  --c-bg-card: #282c34;

  // text colors
  --c-text: rgba(255, 255, 255, 0.8);
  --c-text-light: #96a7b7;
  --c-text-lighter: #8b9eb0;
  --c-text-lightest: #8094a8;

  // border colors
  --c-border: #3e4c5a;
  --c-border-dark: #34404c;
  --c-card-shadow: 0px 1px 3px 0px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 2px 1px -1px rgb(0 0 0 / 12%);

  // code blocks vars
  --code-hl-bg-color: #363b46;
}
// EndSection

// Section: Plugin
// plugin-back-to-top
.back-to-top {
  --back-to-top-color: var(--c-brand);
  --back-to-top-color-hover: var(--c-brand-light);
}

// plugin-medium-zoom
.medium-zoom-overlay {
  --medium-zoom-bg-color: var(--c-bg);
}

// plugin-nprogress
#nprogress {
  --nprogress-color: var(--c-brand);
}

// plugin-pwa-popup
.pwa-popup {
  --pwa-popup-text-color: var(--c-text);
  --pwa-popup-bg-color: var(--c-bg);
  --pwa-popup-border-color: var(--c-brand);
  --pwa-popup-shadow: 0 4px 16px var(--c-brand);
  --pwa-popup-btn-text-color: var(--c-bg);
  --pwa-popup-btn-bg-color: var(--c-brand);
  --pwa-popup-btn-hover-bg-color: var(--c-brand-light);
}

// plugin-search
.search-box {
  --search-bg-color: var(--c-bg);
  --search-accent-color: var(--c-brand);
  --search-text-color: var(--c-text);
  --search-border-color: var(--c-border);

  --search-item-text-color: var(--c-text-lighter);
  --search-item-focus-bg-color: var(--c-bg-light);
}

// plugin-docsearch
.DocSearch {
  --docsearch-primary-color: var(--c-brand);
  --docsearch-text-color: var(--c-text);
  --docsearch-highlight-color: var(--c-brand);
  --docsearch-muted-color: var(--c-text-quote);
  --docsearch-container-background: rgba(9, 10, 17, 0.8);
  --docsearch-modal-background: var(--c-bg-light);
  --docsearch-searchbox-background: var(--c-bg-lighter);
  --docsearch-searchbox-focus-background: var(--c-bg);
  --docsearch-searchbox-shadow: inset 0 0 0 2px var(--c-brand);
  --docsearch-hit-color: var(--c-text-light);
  --docsearch-hit-active-color: var(--c-bg);
  --docsearch-hit-background: var(--c-bg);
  --docsearch-hit-shadow: 0 1px 3px 0 var(--c-border-dark);
  --docsearch-footer-background: var(--c-bg);
}
html.dark .DocSearch {
  --docsearch-logo-color: var(--c-text);
  --docsearch-hit-active-color: var(--c-bg-light);
  --docsearch-modal-shadow: inset 1px 1px 0 0 #2c2e40, 0 3px 8px 0 #000309;
  --docsearch-key-shadow: inset 0 -2px 0 0 #282d55, inset 0 0 1px 1px #51577d, 0 2px 2px 0 rgba(3, 4, 9, 0.3);
  --docsearch-key-gradient: linear-gradient(-225deg, #444950, #1c1e21);
  --docsearch-footer-shadow: inset 0 1px 0 0 rgba(73, 76, 106, 0.5), 0 -4px 8px 0 rgba(0, 0, 0, 0.2);
}

// EndSection

// Section: Page Enhance
.theme-container.custom-page-class {
  .home {
    padding: var(--navbar-height) 0 0 0;
  }
  .actions {
    display: inline-block;
  }
}
code {
  color: var(--inline-code-color);
  padding: 0.25rem 0.5rem;
  font-size: .85em;
  border-radius: 3px;
  overflow-wrap: break-word;
  transition: background-color var(--t-color),color var(--t-color);
}

div[class*=language-] {
  position: relative;
  background-color: var(--code-bg-color);
  border-radius: 5px;
  box-shadow: var(--code-box-shadow);
  &::before{
    top: 0.6em;
    right: 3em;
  }
}

.code-group {
  box-shadow: var(--code-box-shadow);
  border-radius: 6px;
  div[class*=language-] {
    box-shadow: none;
  }
  div[class*=language-]::before {
    top: -2.7em;
  }
}
.custom-container.details {
  display: block;
  position: relative;
  border-radius: 2px;
  margin: 1.6em 0;
  padding: 1.6em;
  background-color: var(--c-bg-lighter);
}
.sidebar-item:not(.sidebar-heading).active {
  font-weight: 600;
  color: var(--c-text-accent);
  border-left-color: var(--c-text-accent);
  background-color: var(--c-bg-lightless);
}
.sidebar-item-children .sidebar-item-children .sidebar-item:not(.sidebar-heading).active {
  font-weight: 500;
  border-left-color: transparent;
  background-color: transparent;
}
// EndSection
