@import "../vars/palette";
:root {
  scroll-behavior: smooth;
}

body {
  overflow: overlay;
}

strong {
  font-weight: 600;
}
table {
  padding: 0.85rem;
}
thead {
  box-shadow: 3px 0px 6px var(--c-box-shadow-color), -3px -3px 6px var(--c-box-shadow-color-diff);
}
tbody {
  box-shadow: 3px 3px 6px var(--c-box-shadow-color), -3px -0px 6px var(--c-box-shadow-color-diff);
}
tr {
  border: none;
  border-right: 1px solid var(--c-border-dark);
  border-bottom: 1px solid var(--c-border-dark);
}
th,
td {
  border: none;
  padding: 0.6em 1em;
  border-right: 1px solid var(--c-border-dark);
  border-bottom: 1px solid var(--c-border-dark);
}

dl {
  padding: 1rem;
  box-shadow: 6px 6px 12px var(--c-box-shadow-color), -6px -6px 12px var(--c-box-shadow-color-diff);
  border-radius: 8px;
}

dt {
  font-size: 18px;
  font-weight: 600;
}

dd {
  margin: 0.2rem 0 0.8rem 0;
  margin-inline-start: 3rem;
}

.page mark {
  margin: 0;
  padding: 0 1.1rem;
  border-radius: 7.5px;
  color: var(--mark-color);
  background: var(--mark-bg);
  text-shadow: var(--mark-shadow);
  font-weight: 500;
  box-decoration-break: clone;
  a {
    font-weight: 600;
    color: var(--c-text-hightlight);
  }
}
